<!DOCTYPE html>
<html lang="en">
    <head>
        <title>This is my first Django experience</title>
        <style>
            body {
                background-color: aquamarine;
            }
            
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 60px;
                margin: 20px;
                padding: 20px;
            }

            p {
                font-family: Helvetica, sans-relif;
                font-size: 24px;
                margin: 20px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Hello, {{ name }}!</h1>
        <p>How are you?</p> 
    </body>
</html>